@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  /* colors */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-1: #2c173c;
  --color-2: #1b002a;
  --color-3: #220f32;
  --color-4: #2b0534;
  --color-5: #523f5f;
  --color-6: #1a0029;
  --color-7: #352441;
  --color-8: #520041;
  --color-9: #a59aac;
  --color-10: #190027;
  --color-11: #504458;
  --color-12: #a20040;
  --color-13: #24123a;
  --color-14: #392e5b;
  --color-15: #707cb4;

  /* rest of the vars */
  --borderRadius: 4px;

  /* box shadow*/
  --shadow-1: 0px 0px 25px rgba(0, 0, 0, 0.11);
  --shadow-2: 0px 0px 25px rgba(73, 73, 73, 0.25);

  /* heading 1 */
  --head-1-fs: 32px;
  --head-1-lh: 39.01px;
  --head-1-2-fw: 700;

  /* heading 2 */
  --head-2-fs: 25px;
  --head-2-lh: 30px;

  /* menu */
  --menu-fw: 500;
  --menu-fs: 16px;
  --menu-lh: 20px;


}

body {
  overflow-x: hidden;
  color: var(--color-white);
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: capitalize;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
